@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --zblue: 231 100% 40%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --zblue: 231 100% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg-gradient-overlay {
  position: relative;
}

.bg-gradient-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #001fcc,
    #9d00ff
  ); /* Adjust opacity values here */
  opacity: 40%;
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#search-input {
  background: url("/images/tabler_search.svg");
  background-repeat: no-repeat;
  background-position: center left 10px;
}

#search-div {
  width: fit-content;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  /* Adjust the width as needed */
  width: 8px;
  background-color: transparent;
  transition: width 0.3s ease-in-out;
  /* Added transition for smoother animation */
}

.hide-scrollbar:hover::-webkit-scrollbar {
  width: 8px;
  background-color: #eee;
  /* Adjust the width as needed */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: transparent;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #888;
}

.pulse {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.quill {
  width: 100%;
  /* border-radius: 8px; */
  /* margin-bottom: 3rem; */
}

.quill .ql-editor {
  height: 100%;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #d4d4d4;
}

.ql-container.ql-snow {
  border: 1px solid #f3f3f3 !important;
  height: 30vh;
  border-top: none;
  font-size: 14px;
  border-radius: 0px 0px 8px 8px;
}

.ql-toolbar.ql-snow {
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #f3f3f3 !important;
  background: linear-gradient(to right, #001FCC19 0%, #9D00FF19 100%);
}

.ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
  content: attr(data-placeholder);
  font-size: 14px;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}

.ql-container.ql-snow .ql-editor {
  border: 1px solid #001FCC19 !important;
}

/* React Quil style */
.editor-content .ql-editor {
  font-size: 18px; /* Set your desired font size */
}
.editor-content .ql-editor p {
  margin-bottom: 16px; /* Adjust this for paragraph spacing */
  line-height: 1.6; /* Improve readability with line-height */
}
.editor-content .ql-editor h1,
.editor-content .ql-editor h2,
.editor-content .ql-editor h3,
.editor-content .ql-editor h4,
.editor-content .ql-editor h5,
.editor-content .ql-editor h6 {
  margin-bottom: 10px; /* Add spacing for headers */
}

.editor-content .ql-editor ul,
.editor-content .ql-editor ol {
  margin-bottom: 10px; /* Add spacing for lists */
}

.editor-content .ql-editor blockquote {
  margin-bottom: 24px; /* Add spacing for blockquotes */
  padding-left: 10px;
  border-left: 3px solid #ccc; /* Optional blockquote styling */
}